
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  #game-container {
    text-align: center;
  }
  #pizza-icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
  }
  